.img-responsive
{
    width: 60%;
    height: 60%;

    padding: 10px;
    border-radius: 18px;
    border: 8px solid white;
    background-color: rgb(44, 37, 37);

}


body{
    background-color: rgb(233, 203, 203);
}

b{
    color: white;
}

#google
{
    color: green;
}

#MobileNet
{
    color: blue;
}

h1
{
    color: blueviolet;
    
}

#results
{
    padding: 20px;
}

ol
{
    background-color: bisque;
    border-radius: 18px;
    border: 8px solid rgb(52, 33, 33);
    padding-top: 20px;
}